$lightgray: #ededed;
$gray: #b1b1b1;
$white: #fffd;
$black: #070f1c;

$bg-img1: url("./assets/images/dino-reichmuth-A5rCN8626Ck-unsplash.jpg");
$bg-img2: url("./assets/images/roman-zGrc_XkBhe4-unsplash.jpg");
